@import url('https://fonts.googleapis.com/css?family=Raleway');

/*
general color theme
darkblue: #1d3557
queen(lighter)blue: #457b9d
lightblue: #a8dadc
light: #f1faee
warning: #e63946
*/

/* clear default stylings */
body, 
html {
  margin: 0;
  padding: 0; 
  font-family: 'Raleway', sans-serif;
  background-color: rgb(28, 28, 28); 
}

/* includes content, padding and borders to the width and height properties */
* {
  box-sizing: border-box; 
}

.account-header {
  display: flex; 
  justify-content: space-between;
  background-color: rgb(42,42,42);
  color: #fff; 
  padding-left: 1.1rem;
  padding-right: 3rem;
}

.portfolio {
  display: flex; 
  flex-direction: column;
  width: 45vw;
  height: 50vh;
  float: left; 
  margin: .2rem;
  border-radius: 5px; 
}

.portfolio-header {
  display: flex; 
  flex: 1; 
  justify-content: space-around;
  align-items: center;
  color: #fff; 
  background-color: rgb(42,42,42); 
  border-bottom: 1px solid rgb(28, 28, 28); 
}

.portfolio-content {
  padding: .5rem; 
  overflow: scroll; 
  flex: 5; 
  color: #fff; 
  background-color: rgb(42,42,42);
  border-bottom: 1px solid rgb(28, 28, 28);
}

.portfolio-table {
  width: 100%; 
  text-align: left; 
}

.stock {
  text-align: left; 
  border-bottom: 1px solid rgb(28, 28, 28);  
}

.portfolio-footer {
  display: flex; 
  flex: 1;
  flex-direction: column; 
  background-color: rgb(42,42,42);
}

.portfolio-info {
  display: flex;
  color: #fff; 
  justify-content: center; 
}

.footer-buttons {
  display: flex; 
  justify-content: space-between;
}

/* generic container */
.container {
  padding: 1rem; 
}

/* order the boxes from left to right in rows */
.box-row {
  width: 100%;
}

/* misc */
.button {
  background: none; 
}

.spms-button {
  background: none; 
  border: none; 
  border-bottom: 3px solid rgb(42,42,42); 
  text-decoration: none; 
  text-transform: capitalize; 
  padding: 0;
  margin: .3rem;  
  color: whitesmoke; 
  transition: border-bottom ease .2s ;
}

.spms-button:hover {
  cursor: pointer;
  border-bottom: 3px solid whitesmoke; 
}

.centered {
  justify-content: center; 
}

/* MODAL STYLES */
.backdrop {
  position: fixed; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  background-color: rgba(0,0,0,0.3); 
  padding: 50px; 
}

.modal {
  background-color: white;
  display: flex; 
  flex-direction: column;
  margin: 0;
  padding: 2rem;  
  height: 80vh;
  border-radius: 5px; 
}

.small {
  height: 35vh; 
  width: 80vw; 
}

.modal-header {
  display: flex;
  justify-content: space-between; 
  flex: 1; 
}

.modal-content {
  display: flex; 
  flex-direction: row; 
  flex: 10; 
}

.modal-left {
  display: flex; 
  justify-content: center; 
  flex-direction: column;
  flex: 2;
}
.modal-graph {
  display: flex; 
  padding: 1rem; 
  flex: 8; 
}
.modal-footer {
  display: flex; 
  justify-content: space-around; 
}
/* END MODAL */

@media only screen and (max-width: 800px) {
  .portfolio {
    width: 100%; 
    height: 60vh; 
  }
  .modal {
    width: 100%; 
    height: 100%; 
    border-radius: 0; 
  }
  .small {
    height: 50vh;
  }
  .backdrop{
    padding: 0; 
  }

  /* needed for chart (the width will overflow) */
  .modal-content{
    overflow: scroll;
  }
}